<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find smr200)/urdf/smr200.urdf" />

  <param name="/use_sim_time" value="true"/>

   <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find smr200)/rviz/display.rviz" />
</launch>